<div>
  <div ng-if="$parent.loggedIn">
    <div ng-if="!currentRoom">
      <h4>Select a room:</h4>
      <div class="panel panel-primary" ng-repeat="room in rooms"> 
        <div class="panel-heading">
          <h3 class="panel-title">{{room.Name}}</h3>
        </div>
        <div class="panel-body"><a href="#" ng-click="selectRoom(room)">{{room.Description}}</a></div>
      </div>
    </div>
    <div ng-if="currentRoom" id="chatContainer">
      <a href="#" ng-click="leaveRoom()">Leave Chat</a>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="msg in msgs">
          {{msg.Author}} ({{msg.DatePosted}}): {{msg.Content}}
        </li>
      </ul>
      <div class="row">
        <div class="col-md-6">
          <p>{{feedback}}</p>
          <form ng-submit="postMsg(post.text)">
            <div class="input-group">
              <input id="commentField" class="form-inline form-control" placeholder="Enter comments here" ng-model="post.text" type="text">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-small form-inline">Post Comment</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!$parent.loggedIn">
    <p>You must be logged in to start chatting.</p>
  </div>
</div>