<div>
	<h4>Account Settings for (username)</h4>
	<p>{{feedback}}</p>
	<form>
		<label>Change display name:</label>
		<input type="text" placeholder="Display Name" ng-model="DisplayName"/>
	</form>
	<form>
		<label>Change Password:</label>
		<input type="text" placeholder="Password" ng-model="Pwd"/>
	</form>
	<button class="btn btn-md btn-danger" ng-click="deleteAccountWarn()" data-toggle="modal" data-target="#deleteWarning">Delete Account</button>
      <div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" aria-labelledby="deletionWarning">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="deletionWarning">Delete Account?</h4>
            </div>
            <div class="modal-body">
				<p>You're about to delete your account.</p>
				<button class="btn btn-md btn-danger" ng-click="deleteAccount()">Delete Account</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>