@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");

.animation {
  -webkit-transition: .25s;
}
.animation.ng-enter {
  opacity: 0;
  margin-top: 10px;
}
.animation.ng-leave {
    -webkit-transition: none;
}
.animation.ng-enter.ng-enter-active {
  opacity: 1;
  margin-top: 0px;
}
.animation.ng-leave.ng-leave-active {
    -webkit-transition: none;
}

#fullShield > .feedback {
  color: #fff;
  position: absolute;
  bottom: 75%;
  width: 100%;
  text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input#commentField {
    font-size: 16px;
  }
}